**Proceso de ETL: User_Items**

**Cargamos las librerias necesarias**

In [4]:
import pandas as pd
from pandas import json_normalize
import numpy as np
import json
import gzip
import warnings
warnings.filterwarnings("ignore")
import ast

**Cargamos el archivo json y pasamos los datos a un dataframe**

In [6]:
#Leer el archivo JSON comprimido
def leer_jsoncomprimido():
    with gzip.open('../Archivos Json/users_items.json.gz','rt',encoding='utf-8')as file:
        return[ast.literal_eval(line.strip())
               for line in file]

filas_items = leer_jsoncomprimido()

#convertirlo a un dataframe
df_items=pd.DataFrame(filas_items)

In [7]:
df_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [9]:
df_items.columns

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'items'], dtype='object')

**Se observa los tipos de objetos que presenta el dataframe y cantidad de datos nulos**

In [8]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

**Se procede a observar variable por variable para entender los registros guardados**

Esta variable representa el identificador unico del usuario

In [10]:
df_items["user_id"][25]

'76561198030389591'

"items_count" representa la cantidad de juegos consumidos por cada usuario

In [11]:
df_items["items_count"][25]

12

In [12]:
df_items["steam_id"][25]

'76561198030389591'

"user_url" indica la url que te dirige al perfil del usuario

In [13]:
df_items["user_url"][25]

'http://steamcommunity.com/profiles/76561198030389591'

"items" representa los juegos que cada usuario consumio junto a las caracteristicas de los mismos

In [14]:
df_items["items"][25]

[{'item_id': '205790',
  'item_name': 'Dota 2 Test',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '96800',
  'item_name': 'Nexuiz',
  'playtime_forever': 19,
  'playtime_2weeks': 0},
 {'item_id': '216370',
  'item_name': 'Nexuiz Beta',
  'playtime_forever': 7,
  'playtime_2weeks': 0},
 {'item_id': '225760',
  'item_name': 'Nexuiz STUPID Mode',
  'playtime_forever': 1,
  'playtime_2weeks': 0},
 {'item_id': '730',
  'item_name': 'Counter-Strike: Global Offensive',
  'playtime_forever': 95003,
  'playtime_2weeks': 941},
 {'item_id': '51100',
  'item_name': 'Tactical Intervention',
  'playtime_forever': 4840,
  'playtime_2weeks': 0},
 {'item_id': '113400',
  'item_name': 'APB Reloaded',
  'playtime_forever': 123,
  'playtime_2weeks': 0},
 {'item_id': '271290',
  'item_name': 'HAWKEN',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '91310',
  'item_name': 'Dead Island',
  'playtime_forever': 10,
  'playtime_2weeks': 0},
 {'item_id': '216250',
  'item_name': 'Dead Island Riptide',
  'playtime_forever': 108,
  'playtime_2weeks': 0},
 {'item_id': '346330',
  'item_name': 'BrainBread 2',
  'playtime_forever': 33,
  'playtime_2weeks': 0},
 {'item_id': '372000',
  'item_name': 'Tree of Savior (English Ver.)',
  'playtime_forever': 491,
  'playtime_2weeks': 0}]

Como se observo en la linea de codigo anterior la variable items contiene varios diccionarios dentro de un mismo registro por lo que se procede a desanidar la misma para su posterior analisis

In [15]:
df_items= df_items.explode("items").reset_index(drop=True)
df_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike..."
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ..."
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'..."
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla..."
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp..."
...,...,...,...,...,...
5170010,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus..."
5170011,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To..."
5170012,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1..."
5170013,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes..."
5170014,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN

In [16]:
df_items_normalizado = pd.json_normalize(df_items["items"])
df_items_normalizado

,item_id,item_name,playtime_forever,playtime_2weeks
0,10,Counter-Strike,6.0,0.0
1,20,Team Fortress Classic,0.0,0.0
2,30,Day of Defeat,7.0,0.0
3,40,Deathmatch Classic,0.0,0.0
4,50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...
5170010,373330,All Is Dust,0.0,0.0
5170011,388490,One Way To Die: Steam Edition,3.0,3.0
5170012,521570,You Have 10 Seconds 2,4.0,4.0
5170013,519140,Minds Eyes,3.0,3.0
5170014,NaN,NaN,NaN,NaN

In [17]:
df_items_final = pd.concat([df_items,df_items_normalizado], axis=1)
df_items_final

,user_id,items_count,steam_id,user_url,items,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike...",10,Counter-Strike,6.0,0.0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ...",20,Team Fortress Classic,0.0,0.0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'...",30,Day of Defeat,7.0,0.0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla...",40,Deathmatch Classic,0.0,0.0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp...",50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...,...,...,...
5170010,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus...",373330,All Is Dust,0.0,0.0
5170011,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To...",388490,One Way To Die: Steam Edition,3.0,3.0
5170012,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1...",521570,You Have 10 Seconds 2,4.0,4.0
5170013,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes...",519140,Minds Eyes,3.0,3.0
5170014,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN,NaN,NaN,NaN,NaN

Eliminamos la columna items dado que ya no es necesaria

In [18]:
df_items_final = df_items_final.drop(columns=["items"])
df_items_final

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6.0,0.0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0.0,0.0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7.0,0.0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0.0,0.0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...,...,...
5170010,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0.0,0.0
5170011,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3.0,3.0
5170012,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4.0,4.0
5170013,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3.0,3.0
5170014,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN,NaN,NaN,NaN

**Se procede a eliminar columnas que no son relevantes para nuestro proposito como "user_url" y "playtime_2weeks"**

In [19]:
df_items_final = df_items_final.drop(columns=["user_url","playtime_2weeks","steam_id"])
df_items_final

,user_id,items_count,item_id,item_name,playtime_forever
0,76561197970982479,277,10,Counter-Strike,6.0
1,76561197970982479,277,20,Team Fortress Classic,0.0
2,76561197970982479,277,30,Day of Defeat,7.0
3,76561197970982479,277,40,Deathmatch Classic,0.0
4,76561197970982479,277,50,Half-Life: Opposing Force,0.0
...,...,...,...,...,...
5170010,76561198329548331,7,373330,All Is Dust,0.0
5170011,76561198329548331,7,388490,One Way To Die: Steam Edition,3.0
5170012,76561198329548331,7,521570,You Have 10 Seconds 2,4.0
5170013,76561198329548331,7,519140,Minds Eyes,3.0
5170014,edward_tremethick,0,NaN,NaN,NaN

In [20]:
df_items_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5170015 entries, 0 to 5170014
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   items_count       int64
 2   item_id           object
 3   item_name         object
 4   playtime_forever  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 197.2+ MB

**Corroboramos sobre la variable "item_name" que tengamos registros que se puedan usar para el modelado**

In [21]:
df_items_final["item_name"].unique()

array(['Counter-Strike', 'Team Fortress Classic', 'Day of Defeat', ...,
       'ChaosTower', 'Aveyond 4: Shadow Of The Mist', 'Arachnophobia'],
      dtype=object)

In [22]:
patron_no_deseado = r'[^a-zA-Z0-9\s]'  
df_filtrado = df_items_final[df_items_final["item_name"].str.contains(patron_no_deseado) == False]
df_filtrado

,user_id,items_count,item_id,item_name,playtime_forever
1,76561197970982479,277,20,Team Fortress Classic,0.0
2,76561197970982479,277,30,Day of Defeat,7.0
3,76561197970982479,277,40,Deathmatch Classic,0.0
5,76561197970982479,277,60,Ricochet,0.0
10,76561197970982479,277,3830,Psychonauts,333.0
...,...,...,...,...,...
5170007,76561198329548331,7,304930,Unturned,677.0
5170009,76561198329548331,7,346330,BrainBread 2,0.0
5170010,76561198329548331,7,373330,All Is Dust,0.0
5170012,76561198329548331,7,521570,You Have 10 Seconds 2,4.0
5170013,76561198329548331,7,519140,Minds Eyes,3.0

**Se verifica si tenemos registros nulos**

In [23]:
df_filtrado.isnull().sum()

user_id             0
items_count         0
item_id             0
item_name           0
playtime_forever    0
dtype: int64

**Se verifica si tenemos registros duplicados**

In [24]:
duplicados = df_filtrado.duplicated().sum()
duplicados

34474

In [25]:
duplicados_mask = df_filtrado.duplicated(keep=False)
filas_duplicadas = df_filtrado[duplicados_mask]
filas_duplicadas

,user_id,items_count,item_id,item_name,playtime_forever
4347,76561198156664158,59,33910,Arma 2,162.0
4350,76561198156664158,59,400,Portal,196.0
4351,76561198156664158,59,620,Portal 2,532.0
4352,76561198156664158,59,105600,Terraria,11660.0
4354,76561198156664158,59,227280,No Time to Explain,315.0
...,...,...,...,...,...
4910932,76561198080057659,39,205790,Dota 2 Test,0.0
4910933,76561198080057659,39,223470,POSTAL 2,43.0
4910935,76561198080057659,39,8870,BioShock Infinite,1184.0
4910937,76561198080057659,39,107410,Arma 3,178.0
4910939,76561198080057659,39,221910,The Stanley Parable,53.0

En este caso verificamos que las filas que aparecen como duplicadas corresponden al mismo usuario por lo que las variables: user_id, items_count, steam_id son las mismas pero varia el juego al cual se esta refiriendo por lo que se decide conservarlas

**Carga del conjunto de datos**

In [26]:
archivo_limpio = "user_items_limpio.csv"
df_filtrado.to_csv(archivo_limpio, index=False, encoding="utf-8")
print(f"Se guardÃ³ el archivo {archivo_limpio}")

Se guardÃ³ el archivo user_items_limpio.csv